<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header.ejs', {headerTitle: headerTitle}) %>
    <%- include('partials/cssBootstrap.ejs') %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-<%= tplName %>">
                <h1><%= h1 %></h1>
                <hr/>
                <%- include('pages/' + tplName, payload) %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
</body>
</html>
